<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>
<ul style="color:red;font-family:courier;text-align: center;">
    {%for post in posts%}
        <li>
        
         {{post['time and date'],['description']}}
         {% if post['complete']%}{%endif%}
         
         

         
    
        <br>
        </li>
        

    {%endfor%}
</ul>



</body>



</html>