<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>


  <img src="/static/mainpic.png" class="mainpic">

<button class="SIGNIN">SIGN IN</button>
<br>





<button class="SIGNUP">SIGN UP</button>







</body>
</html>