<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

<H1>SPONSORED BY CHEAPMONEY WEBSTORE</H1>
  <img src="/static/mainpic.png" class="mainpic">

<div>
<button class="but"><a href="signin">SIGN IN</a></button>
<br>
<button class="but"><a href="signup">SIGN UP</a></button>
</div>






</body>
</html>